@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Yaro Cut';
    src: url(../Assets/YaroCut.ttf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kanyon';
    src: url(../Assets/Fontspring-DEMO-kanyon-regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Scroll bar styling */
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: rgb(217, 184, 122);
}

*{
  scroll-behavior: smooth;
}